.JokeList {
    width: 100%;
    max-width: 50em;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    background-color: rgb(65, 199, 214, 0.2);
    padding: 1em 4em;
}

.JokeListTitle {
    /* font at some point */
}

.TitleBar {
    margin-top: 2em;
    margin-bottom: 1em;
    display: inline-flex;
    justify-content: space-between;
}